@inherits LayoutComponentBase

<div class="container">
    <div class="navbar">
        <div class="nav-items">
            <li>popluar</li>
            <li>top rated</li>
            <li>shows</li>
            <li>rating</li>
        </div>
        <div class="nav-title">BLAZOR TITLE</div>
        <div class="nav-btn">LOGING</div>
    </div>
</div>

@Body
