@page "/"
@inject MovieDBService MovieDBService

<PageTitle>Home</PageTitle>

<div class="container">
    <h1>Popular Movies</h1>
    @if (movieResults.Results is not null)
    {
        @foreach (var movie in movieResults.Results)
        {
            <li>@movie.Title</li>
        }
    }
</div>


@code {

    private Movies movieResults = new();
    protected override async Task OnInitializedAsync()
    {
        movieResults = await MovieDBService.GetMovies();
    }

}
