@page "/"
@inject MovieDBService MovieDBService

<PageTitle>Home</PageTitle>

<div class="main">
    <h1>Popular Movies</h1>

    <div class="container-fuild">
       @if (movieResults.Results is not null)
       {
            @foreach (var movie in movieResults.Results)
            {
                <li>@movie.Title</li>
            }
       }
    </div>
</div>

Welcome to your new app.

@code {

    private Movies movieResults = new();
    protected override async Task OnInitializedAsync()
    {
        movieResults = await MovieDBService.GetMovies();
    }

}
